Flask>=2.2.5
Flask-SQLAlchemy>=3.0.0
Flask-Bcrypt>=1.0.0
Flask-Login>=0.6.0
Flask-Mail>=0.9.0
Flask-WTF>=1.0.0
WTForms>=3.0.0
itsdangerous>=2.1.0
pygal>=2.4.0
MarkupSafe>=2.1.0
Werkzeug>=3.0.0
SQLAlchemy>=2.0.0
psycopg2-binary>=2.9.0

